extend layout
block content
  .row
    .twelve.columns.game
        .row
          p
            a.nice.radius.huge.blue.button.expand(href='#')#goal MY GOAL
        .row
          .six.columns.player.first-team Player 1
          .six.columns.player.second-team Player 2
        .row
          .twelve.center.columns
            .result
              span.first-team#firstTeam 0
              | :
              span.second-team#secondTeam 0
        .row
          .six.columns.player.first-team Three
          .six.columns.player.second-team Four
  script(src='http://localhost:1337/socket.io/lib/socket.io.js')
  script(src='/js/game.js');
