extend layout
block content
  .row
    .twelve.center.columns
      .row
        p
          a.nice.radius.huge.blue.button.expand(href='#') Player
        p
          a.nice.radius.huge.red.button(href='#') Judge
        p
          a.nice.radius.large.white.button(href='#') Settings
