extend layout
block content
  .row
    .twelve.center.columns
      .row
        p
          a(href='/players').nice.radius.huge.blue.button.expand Player
        p
          a(href='/judge').nice.radius.huge.red.button Judge
        p
          a(href='/settings').nice.radius.large.white.button Settings
