extend layout
block content
  .row
    .twelve.center.columns
        .row
          .six.columns.player Player 1
          .six.columns.player Player 2
        .row
          .twelve.columns
            .result
              span.firstTeam 0
              | :
              span.secondTeam 0
        //- .row
        //-   .twelve.columns
        //-     .result.disabled
        //-       p connected 3 of 4.. waiting for players
        //-       span.first-team 0
        //-       | :
        //-       span.second-team 0
        .row
          .six.columns.player Three
          .six.columns.player Four
  script(src='/js/judge.js')