!!! 5
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    title Welcome to Foundation
    link(rel='stylesheet', href='/stylesheets/foundation.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
    script(src='/javascripts/modernizr.foundation.js')
    script(src='/javascripts/components/jquery/jqeury.js')
  body
    .container
      .row
        .twelve.center.columns
            h2 Geeky Foosbal
            p v 0.1
            hr

      block content