!!! 5
head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    title Welcome to Foundation
    link(rel='stylesheet', href='/stylesheets/foundation.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
    script(src='/js/components/underscore/underscore.js')
    script(src='/js/components/jquery/jquery.js')
    script(src='/js/components/jquery.ui.core/index.js')
    script(src='/js/components/jquery.ui.widget/index.js')
    script(src='/js/components/jquery.ui.mouse/index.js')
    script(src='/js/components/jquery.ui.sortable/index.js')
  body
    .container
      .row
        .twelve.center.columns
            h2 Geeky Foosbal
            p v 0.1
            hr

      block content