extend layout
block content
  .row
      .twelve.center.columns
          .row
            h3 Select player
            hr
          .row
            .four.columns.first-team
              h5.first-team First team
              ul.players#first-team
            .four.columns.players
              h5 All Players
              ul.players
                each player in players
                  li= player
            .four.columns.second-team
              h5.second-team Second team
              ul.players#second-team
  script(src='http://localhost:1337/socket.io/lib/socket.io.js')
  script(src='/js/player.js')
