/* Artfully masterminded by ZURB  */
$first-team: #0394FF;
$second-team: #BE2C32;


// Table of Content
//-----------------------------------------
// - Shared Styles
// - Page Name 1
// - Page Name 2

// Shared Styles

// Page Name 1

// Page Name 2
.center {
    text-align: center;
}

.huge {
    width: 100%;
    padding: 1em 0;
    font-size: 60px;
}

.player {
    font-size: 2em;
}

.result {
    font-size: 120px;
    font-weight: bold;
    padding: 45px 0;
    position: relative;
    &.disabled {
        color: #ccc;
        .first-team,
        .second-team {
            color: #ccc;
        }
    }
    p {
        position: absolute;
        color: #000;
        z-index: 9999;
        width: 300px;
        left: 50%;
        margin-left: -150px;
    }
}

.first-team {
    color: $first-team;
}

.second-team {
    color: $second-team;
}