/* Artfully masterminded by ZURB  */
/* line 17, ../sass/app.scss */
.center {
  text-align: center;
}

/* line 21, ../sass/app.scss */
.huge {
  width: 100%;
  padding: 1em 0;
  font-size: 60px;
}

/* line 27, ../sass/app.scss */
.player {
  font-size: 2em;
}

/* line 31, ../sass/app.scss */
.result {
  font-size: 120px;
  font-weight: bold;
  padding: 45px 0;
  position: relative;
}
/* line 36, ../sass/app.scss */
.result.disabled {
  color: #ccc;
}
/* line 39, ../sass/app.scss */
.result.disabled .first-team,
.result.disabled .second-team {
  color: #ccc;
}
/* line 43, ../sass/app.scss */
.result p {
  position: absolute;
  color: #000;
  z-index: 9999;
  width: 300px;
  left: 50%;
  margin-left: -150px;
}

/* line 53, ../sass/app.scss */
.first-team {
  color: #0394ff;
  text-align: left;
}

/* line 58, ../sass/app.scss */
.second-team {
  color: #be2c32;
  text-align: right;
}

/* line 66, ../sass/app.scss */
ul.players {
  border: dashed 1px #666;
  min-height: 200px;
}
/* line 69, ../sass/app.scss */
ul.players li {
  height: 40px;
  line-height: 40px;
  width: 95%;
  margin: 5px auto;
  border: solid 1px #999;
  color: #666;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
}

/* line 83, ../sass/app.scss */
.game .player {
  font-size: 16px;
}
/* line 86, ../sass/app.scss */
.game .result {
  font-size: 40px;
  font-weight: normal;
  padding: 15px 0;
}
